Django==5.2.12
asgiref==3.11.1
sqlparse==0.5.5
tzdata==2025.3
gunicorn==25.3.0
whitenoise==6.12.0
dj-database-url==3.1.2
psycopg2-binary==2.9.12
requests==2.32.5
urllib3==2.6.3
certifi==2026.2.25
charset-normalizer==3.4.6
idna==3.11
openpyxl==3.1.5
pandas==3.0.1
numpy==1.26.4
python-dateutil==2.9.0.post0
six==1.17.0
