<div class="card">
    <h2>Unpaid Rents</h2>
    <table>
        <tr>
            <th>Tenant</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>

        {% for rent in unpaid_rents %}
        <tr>
            <td>{{ rent.tenant_name }}</td>
            <td>{{ rent.amount }}</td>
            <td>
                <a href="/payments/rent/{{ rent.id }}/pay/" style="color:#00ffcc;">
                    Pay M-Pesa
                </a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="3">No unpaid rents</td></tr>
        {% endfor %}
    </table>
</div>